@model TwitterSystem.Web.ViewModels.Notifications.NotificationViewModel
           
<div class="well well-sm">
    @Model.Text <span class="pull-right">@Model.NotificationTime.ToString("HH:mm:ss dd.MM.yyyy")</span>
</div>
